{% extends "layout.html" %}

{% block title %}
    Education
{% endblock %}

{% block main %}
    <h1>Education</h1>
    <h3>My educational Qualifications</h3>
    <hr class="solid">
    <h6>Graduation</h6>
    <ul class="indent">
        <li><em>B.Sc. Computer Science (Honors)</em></li>
        <li><em>University of Delhi</em></li>
        <li><em>New Delhi, India</em></li>
    </ul>
    <h6>Intermediate (12th)</h6>
    <ul class="indent">
        <li><em>C.B.S.E</em></li>
        <li><em>Gurgaon, Haryana, India</em></li>
    </ul>
    <h6>Matriculation (10th)</h6>
    <ul class="indent">
        <li><em>C.B.S.E</em></li>
        <li><em>Gurgaon, Haryana, India</em></li>
    </ul>
    <h3>Courses & Certification</h3>
    <hr class="solid">
    <h6>CS50 T</h6>
    <ul class="indent">
        <li><em>Haravard University</em></li>
        <li><em>eDx</em></li>
        <li><em>2023</em></li>
    </ul>
{% endblock %}
