{% extends "layout.html" %}

{% block title %}
    Hobbies
{% endblock %}

{% block main %}
    <h1>Hobbies</h1>
    <h3>Exploring the Outdoors</h3>
    <hr class="solid">
    <p>I love engaging with nature and discovering new places and experiences outside. And love to do activities like:</p>
    <ul class="indent">
        <li><strong>Hiking</strong></li>
        <li><strong>Camping</strong></li>
        <li><strong>Nature Photography</strong></li>
    </ul>

    <h3>Culinary endeavors</h3>
    <hr class="solid">
    <p>During my holidays, I thoroughly enjoy preparing meals for my family. And I learn culinary skills and new recipes, also I love to do:</p>
    <ul class="indent">
        <li><strong>Home Cooking</strong></li>
        <li><strong>Baking</strong></li>
        <li><strong>Healthy Cooking</strong></li>
    </ul>

    <h3>Cricket Lover</h3>
    <hr class="solid">
    <p>I derive great joy from playing cricket and had the honor of representing my school team. My skills in cricket are:</p>
    <ul class="indent">
        <li><strong>Right-hand Batsmen</strong></li>
        <li><strong>Right-arm Spin Bowler</strong></li>
    </ul>

    <h3>Food Photography</h3>
    <hr class="solid">
    <p>I find immense pleasure in capturing images of the meals I prepare and the places I explore. I maintain an Instagram page under the handle <a href="https://www.instagram.com/fooniac/" target="_blank" rel="noopener"><em>@fooniac</em></a>.</p>
{% endblock %}
