{% extends "layout.html" %}

{% block title %}
    Webpage
{% endblock %}

{% block main %}
    <h1>Welcome to My Portfolio Website!</h1>
    <img class="indent_img" src="/static/profile-pic.png" alt="My profile photo" width="400">
    <h6><em>"Webpages are Art drawn with code!"</em></h6>
    <h4 class="indent">About Me!</h4>
    <hr class="solid">
    <p class="indent">
    Greetings, my name is <strong><em>Ajay</em></strong>, and I am a dedicated software developer resides in Gurgaon.
    Recently graduated from <strong><em>Delhi University</em></strong> with a degree in computer science, I have
    diligently honed my craft in the key areas of <strong><em>HTML</em></strong> and <strong><em>CSS</em></strong>,
    fundamental components pivotal to contemporary web development.
    </p>
    <p>
    My professional ardor lies in the creation of elegant and highly functional web applications that simplify the
    lives of users. With a discerning eye for design and a profound comprehension of user experience, I consistently
    develop applications that are not only aesthetically pleasing but also user-centric, fostering a delightful user
    experience.
    </p>
    <p>
    Throughout my previous roles, I have undertaken a diverse array of web development projects, spanning from
    small-scale websites to intricate enterprise applications. My proficiency extends to various programming languages
    and frameworks, yet I find myself consistently returning to HTML and CSS as my primary tools for front-end web
    development.
    </p>
    <p>
    A steadfast learner, I actively keep abreast of the latest trends and technologies in the ever-evolving realm of
    web development. I am perpetually in pursuit of fresh challenges and opportunities that facilitate the
    augmentation of my skill set. I look forward to embracing the promising trajectory of my career in software
    development.
    </p>
    <p>
    To encapsulate, I am a passionate and ambitious software developer adept in HTML and CSS. Eager to undertake new
    challenges and broaden my expertise, I am confident that my acute design sensibilities and comprehensive grasp of
    user experience render me an invaluable asset to any dynamic development team.
    </p>
{% endblock %}
