{% extends "layout.html" %}

{% block title %}
    Technical Skills
{% endblock %}

{% block main %}
    <h1>Technical Skills</h1>
    <h3>Programming Languages worked on</h3>
    <hr class="solid">
    <ul class="indent">
        <li><em>Scratch</em></li>
        <li><em>C</em></li>
        <li><em>Python</em></li>
        <li><em>SQL</em></li>
        <li><em>HTML</em></li>
        <li><em>CSS</em></li>
        <li><em>JavaScript</em></li>
    </ul>
    <h3>Frameworks & Libraries</h3>
    <hr class="solid">
    <ul class="indent">
        <li><em>Bootstrap</em></li>
        <li><em>React</em></li>
        <li><em>JQuery</em></li>
        <li><em>Flask</em></li>
    </ul>
    <h3>Tools & Platforms</h3>
    <hr class="solid">
    <ul class="indent">
        <li><em>Git / GitHub</em></li>
        <li><em>VS code</em></li>
    </ul>
{% endblock %}
